:root{
    --black: #000;
    --info: #4D7EFF;
    --success: #36CB8C;
    --warning: #FFBC3C;
    --error: #FF4E64;
    --default: #BDBDBD;
    --toast-bg: #fff;
    --text-black: var(--black);
}
.block{
    display: block !important;
}
.none{
    display: none !important;
}
.flex{
    display: flex !important;
}
.w-full{
    width: 100% !important;
}