:root {
  --black: #000;
  --info: #4d7eff;
  --success: #36cb8c;
  --warning: #ffbc3c;
  --error: #ff4e64;
  --default: #bdbdbd;
  --toast-bg: #fff;
  --text-color: #000;
}
.block {
  display: block !important;
}
.none {
  display: none !important;
}
.flex {
  display: flex !important;
}
.w-full {
  width: 100% !important;
}
